VITE_STANDALONE=false
VITE_SUPABASE_URL=https://sumnuonoaysauakylokf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1bW51b25vYXlzYXVha3lsb2tmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMzg4MzksImV4cCI6MjA5NjcxNDgzOX0.cli4AGuJxLdkG5PrnUL6hAXPogd8fMYWxjnAFa9sKO8
